streamlit
pdf2image
Pillow
python-dotenv
groq
google-generativeai
streamlit-option-menu
plotly
poppler-utils
crewai
opencv-python-headless
openai>=1.40.0
streamlit-extras
pytest
vosk
pyttsx3
streamlit-audiorecorder
pydub
watchdog